<div class="col-left">
  <h1><%= @contact.first_name %> <%= @contact.last_name %></h1>
  <a href="mailto:#"><%= @contact.email %></a>
  <p><%= @contact.notes %></p>
</div>
<div class="col-right">
  <a href="/contacts/edit/<%= @contact.id %>">Edit Contact</a><br>
  <a href="/contacts/edit/<%= @contact.id %>">Delete Contact</a><br>
</div>