<h1><%= @contact.first_name %> <%= @contact.last_name %></h1>
<p><%= @contact.email %></P>
<p><%= @contact.notes %></p>
<a href="/contacts/edit/<%= @contact.id %>">Edit Contact</a><br>
<form action="/contacts" method="post">
  <input type="hidden" name="_method" value="delete" />
  <input type="submit" name="Delete" value="Delete">
</form>
<a href="/">Home</a>