<div class="col-left">
  <h1><%= @contact.first_name %> <%= @contact.last_name %></h1>
  <a href="mailto:#"><%= @contact.email %></a>
  <p><%= @contact.notes %></p>
</div>
<div class="col-right">
  <a href="/contacts/<%= @contact.id %>/edit" class="btn btn-edit">Edit Contact</a><br>
  <form action="/contacts/<%= @contact.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button type="submit" class="btn btn-del">Delete Contact</button>
  </form>
</div>