<div class="col-left">
    <img src="http://fillmurray.com/200/300" alt="Profile pic" class="profile-pic">
    <h2><%= @contact.first_name %> <%= @contact.last_name %></h2>
    <a href="mailto:#"><%= @contact.email %></a>
    <p class="notes"><%= @contact.notes %></p>
</div>
<div class="col-right">
  <a href="/contacts/<%= @contact.id %>/edit" class="btn btn-edit">Edit Contact</a><br>
  <form action="/contacts/<%= @contact.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button type="submit" class="btn btn-del">Delete Contact</button>
  </form>
</div>